<div class="nav_div">
<h3>Tap</h3>
<ul class="nav_sub">
<%= render :partial => 'links/site_nav' %>
</ul>
</div>

<div class="nav_div">
<h3>Gems</h3>
<ul class="nav_sub">
<%= render :partial => 'links/gems' %>
</ul>
</div>

<div class="nav_div">
<h3>Info</h3>
<ul class="nav_sub">
<%= render :partial => 'links/site_info' %>
</ul>
</div>