<!-- branding -->
<div id="branding_sub" class="center_div">
<div id="branding_sub_text" class="pc main_div">
  <span id="branding_sub_tap"><a href="<%= site %>index.html" title="Tap">Tap</a></span>
</div>
<div class="sc sub_div">
  <a href="<%= site %>index.html" title="Tap">
    <img id="branding_sub_img" src="<%= site %>images/branding_square.jpg" alt="Tap" />
  </a>
</div>
</div>
<!-- branding -->
