<li id="install"><a href="<%= site %>installation.html" title="Install">Install</a></li>
<li id="documentation"><a href="<%= site %>rdoc/index.html" title="Documentation">Documentation</a></li>
<li id="tutorial"><a href="<%= site %>tutorial.html" title="Tutorial">Tutorial</a></li>