<li><a href="<%= site %>about.html" title="">About</a></li>
<li><a href="<%= site %>license.html" title="">License</a></li>
<li><a href="http://groups.google.com/group/ruby-on-tap" title="">Forum</a></li>
<li><a href="http://github.com/bahuvrihi/tap/wikis/home" title="">Wiki</a></li>
