<%= render :partial => '/page_header' %>

<!-- content -->
<div id="content" class="clear_children center_div">
<div id="content_main" class="pc cc_tallest main_div">
<div id="<%= "content_" + @tutorial.path %>" class="section">
<%= redcloth @tutorial.content %>
</div>
</div><!-- content_main -->

<div id="content_sub" class="sc sub_div">
<%= render :partial => '/links' %>
</div><!-- content_sub -->

</div><!-- content -->